_ReSharper.*
[Bb]in/
[Oo]bj/
csx/
*.user
*.suo
*.swp
*.orig
*.[Cc]onfig.transformed
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.cache
*.build.csdef
*dont-edit/
csx/
testimpactdata.sdf
version.txt
[pP]ackages
*.log
[Aa]pp_Sprites
[Tt]estResults
*.vssettings
Contrail/Contrail.Cloud/ServiceDefinition.Dev.csdef.transformed.csdef
Binaries
Output
**/Angular/*.html
*[Nn][Cc]runch*
.vs/
/Build/TestResult.xml
