<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="NewRelic.AppName" value="securepay.masterpass.local" />
  </appSettings>

  <connectionStrings xdt:Transform="Remove" />
  <connectionStrings xdt:Transform="InsertAfter(/configuration/appSettings)">
    <add xdt:Transform="Replace" xdt:Locator="Match(name)" name="ElmahAzureTableStorage"
         connectionString="DefaultEndpointsProtocol=https;AccountName=develmahstore01;AccountKey=@Insert" />
  </connectionStrings>

  <elmah xdt:Transform="Remove" />
  <elmah xdt:Transform="InsertAfter(/configuration/connectionStrings)">
    <security allowRemoteAccess="false" />
    <errorLog type="Webjet.Elmah.AzureTableStorage.AzureTableStorageErrorLog, Webjet.Elmah.AzureTableStorage"
              connectionStringName="ElmahAzureTableStorage" tableName="masterpassservice" />
  </elmah>

  <TokeniserConfig xdt:Transform="Remove" />
  <TokeniserConfig xdt:Transform="InsertAfter(/configuration/elmah)">
    <add key="TokeniserUrl" value="https://@Insert"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TokeniserDomainPlaceHolder" value="{{DOMAIN}}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </TokeniserConfig>

</configuration>