<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="LoadTest2010"
     providerName="System.Data.SqlClient"
     connectionString="Server=@Insert;Database=@Insert;user id=@Insert;password=@Insert;" />
  </connectionStrings>

  <appSettings>
    <add key="LoadTest2010ConnectionString" value="Server=@Insert;Database=@Insert;user id=@Insert;password=@Insert;" />
  </appSettings>
</configuration>